### Dictionary

1.Dict.is nothing but mapping the data.
2.Data must map in between key ,value pair.
2.It is used to mapping the data in the key values pair.
3.{'Key':'Value'}
4.Duplicate values are not allowed for the karys only.
5.It is orderd.
6.We can use heterogenous element like ('int',float etc...)

### How to create empty dict

In [1]:
a={}
print(type(a))

<class 'dict'>

By using dict consructure we can define dictionary

In [3]:
b=dict()
print(type(b))

<class 'dict'>

In [7]:
my_dict={'Name':'Virat','Age':32,'team':'RCB'}
print(my_dict)
print(type(my_dict))

{'Name': 'Virat', 'Age': 32, 'team': 'RCB'}
<class 'dict'>

In [9]:
marks={'Engish':80,'Hindi':89,'Science':[90,22,20]}
print(marks)

{'Engish': 80, 'Hindi': 89, 'Science': [90, 22, 20]}

### How to add the elements in the dictionary

In [10]:
marks['Maths']=90

In [11]:
print(marks)

{'Engish': 80, 'Hindi': 89, 'Science': [90, 22, 20], 'Maths': 90}

In [14]:
Sports={'CSK':'MSD','MI':'Rohit'}
print('Original dict:',Sports)

Sports['GT']='Hardik'
print('New dict:',Sports)

Original dict: {'CSK': 'MSD', 'MI': 'Rohit'}
New dict: {'CSK': 'MSD', 'MI': 'Rohit', 'GT': 'Hardik'}

### Duplicate values are not allowed

In [18]:
Sports1={'CSK':'MSD','MI':'Rohit','CSK':'MSD','GT':'Hardik'}
print('Original dict:',Sports1)

Original dict: {'CSK': 'MSD', 'MI': 'Rohit', 'GT': 'Hardik'}

In [19]:
data={'City':'Pune','Temprature':29,'Humidity':23}
print(data)

{'City': 'Pune', 'Temprature': 29, 'Humidity': 23}

### How to find out keys by using dict.

In [24]:
data={'City':'Pune','Temprature':29,'Humidity':23}
print(data)

{'City': 'Pune', 'Temprature': 29, 'Humidity': 23}

In [23]:
data.keys()

dict_keys(['City', 'Temprature', 'Humidity'])

In [26]:
data.values()

dict_values(['Pune', 29, 23])

### Mutable

Values are change.
Keys are not changes

In [35]:
data1={'City':'Pune','Temprature':29,'Humidity':23,'Season':'Rainy'}
print(data1)

{'City': 'Pune', 'Temprature': 29, 'Humidity': 23, 'Season': 'Rainy'}

In [36]:
data1['City']='Mumbai'

In [37]:
data1

{'City': 'Mumbai', 'Temprature': 29, 'Humidity': 23, 'Season': 'Rainy'}

### Function in dict / Methods

In [39]:
student={'Name':'Sam','Age':15,'Class':10,'Address':'Pune'}
student

{'Name': 'Sam', 'Age': 15, 'Class': 10, 'Address': 'Pune'}

#### 1.len()

In [40]:
student={'Name':'Sam','Age':15,'Class':10,'Address':'Pune'}
print(len(student))

4

In [41]:
student={'Name':'Sam','Age':15,'Class':10,'Address':'Pune','School':'ABC'}
print(len(student))

5

### 2.Keys()

In [42]:
student={'Name':'Sam','Age':15,'Class':10,'Address':'Pune','School':'ABC'}
student.keys()

dict_keys(['Name', 'Age', 'Class', 'Address', 'School'])

### 3.values()

In [43]:
student={'Name':'Sam','Age':15,'Class':10,'Address':'Pune','School':'ABC'}
student.values()

dict_values(['Sam', 15, 10, 'Pune', 'ABC'])

### 4.item()

In [44]:
student={'Name':'Sam','Age':15,'Class':10,'Address':'Pune','School':'ABC'}
student.items()

dict_items([('Name', 'Sam'), ('Age', 15), ('Class', 10), ('Address', 'Pune'), ('School', 'ABC')])

### 5.get()

It returns the value of give key

In [50]:
my_dict={'Data Analyst':'Python','Data Scientist':'Machine Learing','SQL Developer':'SQL'}

In [51]:
my_dict.get('Data Analyst')

'Python'

key-single
keys-multiple

In [54]:
my_dict.get('Data Analyst','Data Scientist')

'Python'

In [55]:
my_dict.get('Data Scientist')

'Machine Learing'

### 6.pop()

Pop remove the value from the dict. but we want to give the name of perticular key.

In [56]:
my_data={'Data Analyst':'Python','Data Scientist':'Machine Learing','SQL Developer':'SQL','num':20}

In [59]:
my_data.pop('num')

20

In [60]:
my_data

{'Data Analyst': 'Python',
 'Data Scientist': 'Machine Learing',
 'SQL Developer': 'SQL'}

### 7.copy()

a shallow copy of given dict.

In [63]:
student1={'Name':'Sam','Age':15,'Class':10,'Address':'Pune','School':'ABC'}
print('Original Data:',student1)

copied_data=student1.copy()
print('Copied data',copied_data)

Original Data: {'Name': 'Sam', 'Age': 15, 'Class': 10, 'Address': 'Pune', 'School': 'ABC'}
Copied data {'Name': 'Sam', 'Age': 15, 'Class': 10, 'Address': 'Pune', 'School': 'ABC'}

### 8.clear

In [66]:
student1={'Name':'Sam','Age':15,'Class':10,'Address':'Pune','School':'ABC'}
print('Original Data:',student1)

d=student1.clear()
print('After using clear function:',d)

Original Data: {'Name': 'Sam', 'Age': 15, 'Class': 10, 'Address': 'Pune', 'School': 'ABC'}
After using clear function: None